body {
  background: ligten(#AAA, 40%);
}
.email_disclaimer,
#thankyou {
  background-color: #99cc99;
  color: #336633;
  border: 2px dotted #336633;
  padding: 5px;
  margin: 10px 20px;
  font-size: 10px;
  text-align: center;
  display: none;
}
#thankyou {
  display: none;
}
.footer {
  margin-top: 20px;
  font-size: 10px;
  color: #AAA;
}
.footer p {
  margin: 0 0 5px 0;
}
.footer a {
  color: #333;
  text-decoration: none;
}
.footer h5 {
  font-size: 18px;
  background-color: #DDD;
}
#gdrp_terms {
  display: none;
  margin-top: 20px;
}
div.error,
label.error {
  color: #ff0000;
  font-size: 12px;
  margin: 5px;
}
